h1 {
  font-family: "Oswald", sans-serif;
  color: #021526;
  font-size: 50px;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #d97a42;
  font-size: 42px;
}
.h2{
  font-family: "Oswald", sans-serif;
  color: #d97a42;
  font-size: 37px;
}
h3 {
  font-family: "Lato", sans-serif;
  color: #3c93a8;
  font-weight: 700;
  font-size: 42px;
}
.viewTitle{
  font-size: 60px;
}
.description{
  font-size: 37px;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}
label {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-top: 5%;
}
p, option, #coverimage {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}
.headerBtn{
  font-family: "Oswald", sans-serif;
  font-size: 37px;
  text-decoration: none;
  padding-top: 4%;
  padding-bottom: 4%;
}
.main {
  margin-top: 30%;
}
.menu {
  margin-top: 2%;
  margin-bottom: 5%;
}
.menu a {
  color: #021526;
  font-size: 42px;
  text-align: center;
}
.menu li {
  padding: 15px;
}
.dropdown-menu {
  text-align: center;
  padding: 1rem;
}
.navTop {
  background-color: #021526;
}
button {
  border: none;
  border-radius: 12px;
  color: white;
}
#signIn {
  background-color: #021526;
  border-color: #021526;
  padding: 6px 20px;
  margin-top: 7%;
}
#delete {
  background-color: #d97a42;
  border-color: #d97a42;
  padding: 6px 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#delete:hover {
  background-color: white;
  border-color: #d97a42;
  color: #d97a42;
}
.view{
  color: #021526;
  font-size:32px; 
}
#submit{
  background-color: #021526;
  border-color: #021526;
  padding: 6px 20px;
  margin-top: 4%;
}
#submit-2{
  background-color: white;
  border-color: #021526;
  padding: 6px 20px;
  margin-top: 4%;
}
#signIn-2 {
  background-color: #d97a42;
  border-color: #d97a42;
  padding: 6px 20px;
  margin-top: 7%;
}
#register {
  background-color: #d97a42;
  border-color: #d97a42;
  padding: 15px 32px;
  margin-top: 5%;
}
#registerLink {
  color: #d97a42;
  margin-left: 2%;
}
.jumbotron {
  margin-top: 5%;
}
.jumbotron h1 {
  font-size: 74px;
}
.card img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.card .iconLinks {
  display: inline;
}
#sm-text{
  margin-top: 7%;
}
#sm-text p{
  font-size: 18px;
}
#sm-text a{
  color:#d97a42;
  margin-left: 2%;
}
.navbar{
  background-color:#021526
}
.main-link{
  color:#021526;
}
.main-link:hover{
  color:#3c93a8;
}
.main-link:active{
  color:#d97a42;
}
.btn-outline-secondary{
  color: white;
  border-color: white;
}
.btn-outline-secondary:hover{
  color:#021526;
  background-color: white;
}
.container{
  max-width: 850px;
}
.aside{
  margin-top: 2%;
}
.accordion{
  margin: 5% 3% 0 3%;
}
.menuLink{
  background-color: transparent;
  font-size: 26px;
}
.bot-bord{
  border-bottom: 1px solid #dee2e6;
}
.bookBtn{
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  text-decoration: none;
  padding: 2% 7% 2% 7%;
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}
.card-header{
  background-color: white;
}
.contactForm{
  margin-top: 5%;
}


.orange{
  color:#d97a42;
}
.orange:hover{
  color:#d97a42;
}
.dark-orange{
  color:#8c4227;
}
.dark-orange:hover{
  color:#8c4227;
}
.blue{
  color:#3c93a8;
}
.blue:hover{
  color:#3c93a8;
}
.dark-blue{
  color:#021526;
}
.dark-blue:hover{
  color:#021526;
}